body{
    padding: 30px;
    background-color: #F11A7B;
    color: white;
}
.week-container{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 10px;
    padding: 10px;
}

.week-day{
    padding: 10px;
    background-color: #982176;
    transition: 1s;
    border-radius: 10px ;
    text-align: center;
}
.class{
    margin: 10px;
    padding: 10px;
    width: 200px;
    border: 2px solid #3E001F;
    border-radius: 10px;
    text-align: center;
    background-color: #3E001F;
    color: white;
}

